{{ define "head" }}
<link rel="stylesheet" type="text/css" href="{{ relURL  ("assets/Static/Packages/EDSH.EdshDe/StyleSheets/featherlight.min.css") }}">
{{ end}}

{{ define "main" }}

<div class="neos-contentcollection">

  <div class="container">
    <div class="neos-contentcollection">

      <div class=" sixteen columns">
        <div class="neos-contentcollection">
          <div class="typo3-neos-nodetypes-html">
            <div id="tagline">
              <p>Willkommen beim Luftsportverein <a href="#">Backnang-Heiningen</a> e.V.</p>
              <p>Informieren Sie sich für Ihren Besuch bei uns, oder lernen Sie unseren Verein kennen.</p>
            </div>
          </div>
        </div>
      </div>

      <div class=" sixteen columns">
        <img src="/assets/2023-09-16-flyin.png" height="768" width="1366" alt="Flyin am 16.09.2023"/>
      </div>

      <div class=" sixteen columns">
        <div class="neos-contentcollection">
          <div class="typo3-neos-nodetypes-html">
            <div class="flexslider home">
              <ul class="slides">

                <li>
                  <img src="/assets/Persistent/6a38aa198a2cea3fa2c741d498f94592c407104d/TerrasseTeaser.jpg"
                       alt="Bild der Besucherterrasse EDSH" width="950" height="354" />
                  <div class="slider-caption">
                    <h3>Landebar INOP</h3>
                    <p>Unsere Landebar ist derzeit nur ungewiss geöffnet. Falls Sie bei uns vorbeischauen und eines
                      unserer Mitglieder antreffen, bekommen Sie natürlich auch etwas zu Trinken!</p>
                  </div>
                </li>
                <li>
                  <img src="/assets/planes/c172-d-lk/sunset-teaser.jpg" width="950" height="354"
                  alt="Unser D-LK auf dem Helipad mit untergehender Sonne im Hintergrund — danke Thiese!"/>
                  <div class="slider-caption">
                    <h3>Elch gelandet</h3>
                    <p>Seit Februar sind wir stolzer Besitzer einer Cessna 172 mit Thielert-Motor. Das Flugzeug
                    war <a href="https://www.airliners.net/photo/Untitled/Cessna-172N-Skyhawk-100-II/617486" target="_blank">einst in Norwegen unterwegs</a> und trägt als Reminiszenz nun das Eintragungszeichen D-EELK
                    und wird liebevoll Der Elch genannt.</p>
                  </div>
                </li>
                <!--
                                <li>
                                  <img src="assets/Static/Packages/EDSH.EdshDe/Images/Cessna940x350.jpg"
                                       alt="einmororiges Flugzeug über den Wolken"/>
                                  <div class="slider-caption">
                                    <h3>Flugplatz zur Zeit geschlossen</h3>
                                    <p>Leider ist bis auf weiteres unser Flugplatz und das Vereinsgeschen aufgrund des Coronavirus
                                      bis auf weiteres stillgelegt. Wir hoffen, dass wir dies bald geschafft haben. Bleiben Sie gesund!</p>
                                  </div>
                                </li>
                -->
                <!--
                <li>
                  <img src="assets/Persistent/14b0df6a09566014785bc8fca45e086c7107e089/Sliderbild-Vatertag.jpg" alt="Kunstflugzeug mit Smoke-On" />
                  <div class="slider-caption">
                    <h3>Himmelfahrt-Grillen</h3>
                    <p>Am Donnerstag, den 25.Mai ist es wieder soweit – unser alljährliches Himmelfahrt-Grillen findet am Flugplatz statt.
                    Wir freuen uns über Piloten, Fliegerfreunde, Radfahrer, Wanderer und alle, die eine leckere Grillwurst oder Kuchen
                    bei uns genießen wollen.</p>
                  </div>
                </li>

                <li>
                  <img src="assets/Persistent/6a38aa198a2cea3fa2c741d498f94592c407104d/TerrasseTeaser.jpg"
                       alt="Ansicht unseres Vereinsheims von der Landebahn aus in Richtung Norden"/>
                  <div class="slider-caption">
                    <h3>Landebar-Saison</h3>
                    <p>Ab Samstag, dem 16. März ist unsere Landebar wieder für Euch geöffnet.
                      Wir freuen uns schon auf Euch und fantastische Fliegersaison 2019!<a
                              href="flugplatz/bewirtung.html">mehr…</a></p>
                  </div>
                </li>

                <li>
                  <img src="assets/Persistent/3bc8bffc9ff97d0f54d3efb4f86140dafffb3c6e/20140916-Fliegen-Pui-3-DSC-1732.jpg"
                       alt="Duo Discus XL"/>
                  <div class="slider-caption">
                    <h3>Neuer Segelflug-Hochleistungsdoppelsitzer</h3>
                    <p>Unser Flugzeugpark hat Verstärkung! Der Verein und speziell die Segelflieger
                      freuen sich über einen neuen Hochleistungsdoppelsitzer vom Typ Duo Discus XL.
                      Dieser wurde von der in Kirchheim/Teck angesiedelten Flugzeugfirma
                      Schempp-Hirth ausgeliefert. Der neue Doppelsitzer ist ein modernes Allround-Talent
                      und übernimmt zentrale Aufgaben in der Segelflugausbildung und dem Strecken- und
                      Leistungssegelflug. Damit hat der der Verein eine wichtige Grundlage gelegt,
                      um sich perspektivisch auch für die Zukunft aufzustellen und seine Attraktivität
                      weiter zu erhöhen.</p>
                  </div>
                </li>

                <li>
                  <img src="assets/Static/Packages/EDSH.EdshDe/Images/Cessna940x350.jpg"
                       alt="einmororiges Flugzeug über den Wolken"/>
                  <div class="slider-caption">
                    <h3>Flugbetrieb</h3>
                    <p>Insbesondere an den Wochenenden haben Sie gute Chancen, unseren Vereinsmitgliedern bei ihren
                      Flügen zuzuschauen. Haben Sie Fragen oder interessieren sich vielleicht für eine Ausbildung,
                      sind unsere Piloten gerne mit einem offenen Ohr für Sie da.<a href="verein/ausbildung.html">mehr...</a>
                    </p>
                  </div>
                </li>

                <li>
                  <img src="assets/Static/Packages/EDSH.EdshDe/Images/Landeanflug940x350.jpg"
                       alt="Landeanflug auf Piste 29 aus Sicht des Piloten"/>
                  <div class="slider-caption">
                    <h3>Flugplatz</h3>
                    <p>Gerne empfangen wir Sie PPR auf unserem Flugplatz, als Ausgangspunkt für Ihre Wanderung im
                      Welzheimer Wald, für eine Stadttour in Stuttgart oder einfach als Rastgelegenheit
                      für Ihre Durchreise.<a href="flugplatz/anflug.html">mehr...</a></p>
                  </div>
                </li>
-->

              </ul>
            </div>

            <!--
                        <script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.6/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

                        <script>
                          // Oldtimer trifft Flugplatz - Popup
                          jQuery.featherlight(
                            $('<a href="https://www.oldtimer-trifft-flugplatz.de/" target="_blank"><img src="https://www.oldtimer-trifft-flugplatz.de/img/oldtimer-trifft-flugplatz-2019-shareit.jpg" width="1250" height="657"/></a>'),
                            {
                                afterOpen: function(event) {
                                    var $content = this.$content.closest('.featherlight-content');
                                    $content.css('marginTop', '85px');
                                }
                        });
                        </script>
            -->
            <!--
                        <script>
                          // Sonnwendfeier — Popup
                          jQuery.featherlight(
                            $('<a href="https://www.facebook.com/events/459591344936247/" target="_blank"><img src="assets/sonnwendfeier-popup.jpg" width="1875" height="984"/></a>'),
                            {
                                afterOpen: function(event) {
                                    var $content = this.$content.closest('.featherlight-content');
                                    $content.css('marginTop', '85px');
                                }
                        });
                        </script>
            -->
          </div>
        </div>
      </div>

      <div class="divider sixteen columns">
        <div class="neos-contentcollection"></div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="neos-contentcollection">
      <div class="container columns-25-25-25-25 typo3-neos-nodetypes-fourcolumn">

        <div class="column columns">
          <div class="neos-contentcollection">
            <div class="typo3-neos-nodetypes-html">
              <h3 class="related-title"><span>Piloten-Informationen</span></h3>
            </div>
            <div class="typo3-neos-nodetypes-html">
              <table class="standard-table">
                <tbody>
                <tr>
                  <th>LOC</th>
                  <td>48 55,19 N<br>09 27,32 E</td>
                </tr>
                <tr>
                  <th>ELEV</th>
                  <td>963 ft (294 m)</td>
                </tr>
                <tr>
                  <th>FREQ</th>
                  <td>123,710 (INFO)</td>
                </tr>
                <tr>
                  <th>RWY</th>
                  <td>10/28<br>500 GRASS</td>
                </tr>
                <tr>
                  <th>PPR!</th>
                  <td><a href="/flugplatz/ppr.html" class="button blue" style="margin: 5px 0;">&rsaquo; PPR-Infos</a><br>
                    C: <a href="tel:+49719164334">07191 - 64334</a> (nicht durchgehend besetzt)
                  </td>
                </tr>
                </tbody>
              </table>
              <a class="button blue large" href="flugplatz/piloteninfo.html">Details</a>
            </div>
          </div>
        </div>
        <div class="column columns">
          <div class="neos-contentcollection">
            <div class="typo3-neos-nodetypes-html">
              <h3 class="related-title"><span>So finden Sie uns</span></h3>
            </div>
            <div class="typo3-neos-nodetypes-text">
              <div><p>Zwischen der Ortschaft Backnang-Heiningen und dem Kreisverkehr Backnang-Weissach-Allmersbach
                befindet sich die ausgeschilderte Zufahrt zu unserem Flugplatz.</p>
                <p><a class="button blue large"
                      href="flugplatz/besucher.html" data-gentics-aloha-repository="ajax-repository"
                      data-gentics-aloha-object-id="62a5b233-84df-4882-b0b1-f6d4c1d2cb59"
                      data-ajax-repository-temporary-data="für Besucher">Details</a><br/></p></div>
            </div>
          </div>
        </div>
        <div class="column columns">
          <div class="neos-contentcollection">
            <div class="typo3-neos-nodetypes-html">
              <h3 class="related-title"><span>Essen &amp; Trinken</span></h3>
            </div>
            <div class="typo3-neos-nodetypes-text">
              <!--<div><p>Ab Samstag, den 16. März ist die Landebar wieder beinahe jedes Wochenende für Besucher geöffnet. Ob
                Flieger, Radfahrer, <br/>Wanderer oder Interessierte - jeder findet bei uns etwas leckeres zu Essen,
                eine Erfrischung auf dem Weg<br/>oder auch einen gemütlichen Ort für wochenendliches Kaffeetrinken mit
                stets selbstgebackenem Kuchen.<br/></p></div>-->
              <p>Unsere Landebar ist derzeit nur ungewiss geöffnet. Falls Sie bei uns vorbeischauen und eines unserer Mitglieder
              antreffen, bekommen Sie natürlich auch etwas zu Trinken!</p>
            </div>
            <div class="typo3-neos-nodetypes-html">
              <a href="flugplatz/bewirtung.html" class="button blue large">Mehr ...</a>
            </div>
          </div>
        </div>
        <div class="column columns">
          <div class="neos-contentcollection">
            <div class="typo3-neos-nodetypes-html">
              <h3 class="related-title"><span>Wetterinfo</span></h3>
              <div style="width:230px;height:380px;">
                <div style="position:relative;top:0;left:0;width:230px;height:380px;">
                  <iframe src="https://kachelmannwetter.com/widget/standard/2953568" width="230"
                          height="350"></iframe>
                  <div style="position:absolute;top:350px;left:0;width:230px;height:30px;"><a
                      style="border:0;" href="https://kachelmannwetter.com/de/"
                      target="_blank"><img
                      src="https://kachelmannwetter.com/images/widgets/kachelmannwetter.png"
                      alt="kachelmannwetter.com" width="230" height="30"
                      style="border:0;"/></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
